<div class="items d-flex flex-column h-100 border rounded m-3 shadow " id="{{index}}" cdkDropList #index="cdkDropList" [cdkDropListData]="taskDetails.tasks" (cdkDropListDropped)="drop($event)">
    <div class="header border-bottom"  [ngClass]="{'bg-red': getBackground() , 'bg-blue': !getBackground()}">
        <div class="title d-flex flex-row w-100 justify-content-center align-items-center h-100" appHover (isHovering)="handle()">
            {{taskDetails.title}} <span class="ml-2"> <small>{{taskDetails.tasks.length}}</small></span>
            <span class="ml-3" *ngIf="show" (click)="deleteEntry();"><i class="far fa-trash-alt"></i></span>
        </div>
    </div>
    <div *ngIf="taskDetails.tasks.length === 0 && !canCreate" class="pt-3 empty h-100 w-100 d-flex flex-row justify-content-center align-items-self">
        No tasks have been set to {{taskDetails.title}}
    </div>
    <div class="p-2" *ngIf="canCreate">
        <app-new-entry ></app-new-entry>
    </div>
    <div *ngIf="taskDetails.tasks.length !== 0">      
        <div class="pl-2 pr-2 pb-2"  [ngClass]="{'pt-2' : !canCreate }" *ngFor="let task of taskDetails.tasks">
            <app-card [details]="task" [isSelected]="false" (deleteClicked)="onDeleteClicked($event)" (OnSelected)="handleOnSelected($event)"></app-card>
        </div>
    </div>
</div>