<!-- <div   style="width:650px; z-index:999; position:absolute; top:0; right:0; background:white; bottom:0; height:100%;">
  <h1>Panel Content goes here!!</h1>
  <a [routerLink]="['', {outlets: {'side-panel': null}}]">Close</a>
<form>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>

  </form>
</div> -->
<div>
  <div class="title w-100 bg-red d-flex justify-content-between align-items-center p-3" style="height:50px">
    {{details.id}} {{details.title}}
    <a style="color:white;" [routerLink]="['', {outlets: {'side-panel': null}}]"><small>X</small></a>
  </div>
  <hr />
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div class="m-3">

      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" aria-describedby="card title" name="title"
          formControlName="title">
        <div *ngIf="form.controls.title.errors?.required && form.controls.title.touched" style="color:#dc3545">
          <small>Title is required</small>
        </div>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea type="text" rows="4" class="form-control" id="description" name="description"
          formControlName="description"></textarea>
          <div *ngIf="form.controls.description.errors?.required && form.controls.description.touched" style="color:#dc3545">
            <small>Description is required</small>
          </div>
      </div>

    </div>
    <div class="footer border-top m-3 p-3">
      <a [routerLink]="['', {outlets: {'side-panel': null}}]"><small>Cancel</small></a>
      <button type="submit" [disabled]="!canSave" class="btn btn-primary btn-sm ml-3">Save</button>
    </div>
  </form>
</div>