<app-nav-menu></app-nav-menu>
<div class="d-flex flex-row w-100 h-100">
    <div class="w-100 h-100">
        <router-outlet></router-outlet>
    </div>
    <div class="shadow border-left h-100" style="z-index:50; width:2100px !important; position:absolute; top:0; bottom:0; right:0; background:white" [@isVisibleChanged]="sidenavVisible">
        <router-outlet name="side-panel" #outlet="outlet" (activate)="sidenavVisible = true" (deactivate)="sidenavVisible = false"></router-outlet>
    </div>
</div>

