<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
  <a class="navbar-brand" href="#">Kan Ban Board / <small>John's Team <i class="fas fa-chevron-down"></i>
  </small>
</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active"><a class="nav-link"  [routerLink]="['/','home']"> Home</a></li>
    </ul>
    <button class="my-2 my-lg-0 btn btn-success my-2 my-sm-0 mr-3" type="button" (click)="openModalWithComponent()">New Lane</button>
    <button class="my-2 my-lg-0 btn my-2 my-sm-0" type="button" (click)="onSettingsClicked();" >
      <i class="fas fa-cog" style=color:grey;></i>
    </button>
  </div>
</nav>